h1 {
    margin-left: 50%;
}

input[type=text] {
    padding: .5em;
}

label {
    width: 50%;
    display: inline-block;
    text-align: right;
    }

checkbox, input[type=button] {
    margin-left: 50%;
}

#validation-summary {
    margin-left: 65%;
}

#display {
    margin-left: 50%;
}